@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600;700;900&family=Open+Sans:wght@300&display=swap');


body {
    background-color: #FF9F1C;
    font-family: 'Gluten', sans-serif;
}

.header {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-top: 50px;
}

.task-contain-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.task-container {
    background-color: white;
    height: auto;
    width: 830px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.add-task-container {
    margin-bottom: 0;
    
    
}

.add-taskbar {
    display: flex;
    justify-content: space-between;
}

.add-task {

    height: 75px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid #CB997E;
    font-size: 24px;
    text-indent: 20px;
    outline: none;
    font-family: 'Gluten', sans-serif;
}

.add-button {
    height: 76px;
    width: 166px;
    border-radius: 10px;
    background-color: #CB997E;
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gluten', sans-serif;
}

/* display tasks section */
.task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
    background-color: #FFE8D6;
    border: 2px solid #CB997E;
    border-radius: 10px;
}

.task-content {
    margin-left: 20px;
    font-size: 24px;
}

.task-display {
    margin-top: 100px;
    overflow: hidden;
}

.task-modify {
    display: flex;
}

.task-actions {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #16abd1;
    opacity: 80%;
    color: white;
}

.delete-button {
    background-color: #980722;
    color: white;
}

/* Modify section */
.task-modify {
    display: flex;
    position: relative;
    align-items: center;
}

.edit-status {
    position: absolute;
    left: 95%;
}

.input {
    height: 70px;
    width: 650px;
    border: none;
    background: white;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 24px;
    font-family: 'Gluten', sans-serif;
}

.input:focus {
    outline: none;
}