@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600;700;900&family=Open+Sans:wght@300&display=swap');


body {
    background-color: #FF9F1C;
    font-family: 'Gluten', sans-serif;
}

.task-contain-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-top: 50px;

}

.flower-icon-1 {
    color: #fffafa;
}

.flower-icon-2 {
    color: #f8f9f5;
}

.flower-icon-3 {
    color: #fff5ee;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.task-container {
    height: auto;
    width: 890px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.task-completed {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}

.task-checkbox {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.add-task-container {
    background-color: #FFE8D6;
    height: auto;
    width: 830px;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
}

.add-taskbar {
    display: flex;
    justify-content: space-between;
}

.add-task {
    height: 75px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid #CB997E;
    font-size: 24px;
    text-indent: 20px;
    outline: none;
    font-family: 'Gluten', sans-serif;
}

.add-task::placeholder {
    opacity: 60%;
}

.add-button {
    height: 76px;
    width: 166px;
    border-radius: 10px;
    background-color: #CB997E;
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gluten', sans-serif;
}

/* display tasks section */
.task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 890px;
    background-color: white;
    border: 2px solid #CB997E;
    border-radius: 10px;
}

.task-content {
    margin-left: 20px;
    font-size: 24px;
    width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.task-modify {
    display: flex;
    flex-wrap: wrap;
}

.task-actions {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #16abd1;
    opacity: 80%;
    color: white;
}

.delete-button {
    background-color: #980722;
    color: white;
}

/* Modify section */
.task-modify {
    display: flex;
    position: relative;
    align-items: center;
}

.edit-status {
    position: absolute;
    left: 91%;
    padding: 10px;
    background-color: #FFF;
    border-radius: 50% ;
}

.input {
    height: 70px;
    width: 98%;
    border: none;
    background: #FFE8D6;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 24px;
    font-family: 'Gluten', sans-serif;
}

.input:focus {
    outline: none;
}

.task-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}