@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600;700;900&family=Open+Sans:wght@300&display=swap');


body {
    background-color: #FF9F1C;
    font-family: 'Gluten', sans-serif;
}

.header {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-top: 50px;
}

.task-contain-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.task-container {
    background-color: white;
    height: auto;
    width: 830px;
    border-radius: 10px;
    padding: 30px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-taskbar {
    display: flex;
    justify-content: space-between;
}

.add-task {

    height: 75px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid #CB997E;
    font-size: 24px;
    text-indent: 20px;
    outline: none;
    font-family: 'Gluten', sans-serif;
}

.add-button {
    height: 76px;
    width: 166px;
    border-radius: 10px;
    background-color: #CB997E;
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gluten', sans-serif;
}

/* display tasks section */
.task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
    background-color: #FFE8D6;
    border: 2px solid #CB997E;
    border-radius: 10px;

}

.task-content {
    margin-left: 20px;
    font-size: 24px;
}

.task-display {
    margin-top: 100px;
    overflow: hidden;
}

.task-modify {
    display: flex;

}

.encourage-message {
    font-style: italic;
    color: beige;
    opacity: 50%;
}

.task-actions {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 17px 18px 18px 17px;
    /* flex-shrink: 0px; */
    border-radius: 10px;
    background-color: #0395FF;
    opacity: 80%;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 17px 18px 18px 17px;
    /* flex-shrink: 0px; */
    border-radius: 10px;
    background-color: #D41B1B;
    opacity: 80%;
}


